div ul li{
  
  display: block;
}

div#lesCours{
  border: solid 2px black;
  width: 165px;
  min-height: 300px;
  background-color:white;
  padding: 10px;
  border-radius: 5px;
}


/* PARTIE FORMULAIRE DE LA PAGE COURS */
section.main-section{
  position: relative;
  
}
section div.boite-form{
position: absolute;
right: 10px;
top: 100px;
width: 460px;
}