body{
  margin: 0;

}
html{
  font-size: 12px;
}


body main#app{
  
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 80vh;
  margin: 0px;
  /*min-width: 100vw;*/

}

/*pied-de-page{
  height: 100px;
  background-color: grey;
}
*/

.section{
  
  
 /* background-color: palevioletred;*/
}


.aside{
  margin-top: 2px;
  margin-bottom: 2px;
  background-color:rgba(119, 136, 153, 0.50);
}

:root{
  --couleur-de-police-rouge: darkred;
}

/*:not(:defined){
  display: none;
}

:not(:defined){
  display: block;
}*/

/*:not(defined){
  display: none;
}

:defined{
  display: block;
}*/
:defined{
  font-size: 0.8rem;
}
