body{
  margin: 0;
}


body div#app{
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  margin: 0px;
}

/*pied-de-page{
  height: 100px;
  background-color: grey;
}
*/

.section{
  
  
 /* background-color: palevioletred;*/
}


.aside{
  margin-top: 2px;
  margin-bottom: 2px;
  background-color:rgba(119, 136, 153, 0.50);
}

:root{
  --couleur-rouge: darkred;
}
