body{
  margin: 0;
  

}
html{
  font-size: 12px;
}


body div#app{
  
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 80vh;
  margin: 0px;


}

/*pied-de-page{
  height: 100px;
  background-color: grey;
}
*/

/*.section-page-accueil{
  display: grid;
  grid-template-columns: 1fr 2fr;


 background-color:palevioletred;
  padding: 10px;
 
}
*/



:root{
  --couleur-de-police-rouge: darkred;
}


:defined{
  font-size: 0.8rem;
}




main#corps-de-page {
  flex-shrink: 0;
  /*font-size: 1em;*/
  display: grid;
  grid-template-columns: 2fr 0.6fr;
  /*font-size: 0.6rem;*/
 /* background-color: lightblue;*/
}

.permute-columns{
  display: grid;
  grid-template-columns: 0.6fr 2fr;
}



.aside {
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: rgba(119, 136, 153, 0.50);
  

}

.cacher-aside{
  display: none;
}


.aside-liste-cours{
  margin-top: 2px;
  margin-bottom: 2px;
  background-color: rgba(119, 136, 153, 0.50);
}

.cacher-liste-cours{
  display:none;
}


#corps-de-page section div{
  margin: 8px;
}


 
