:host{
  display: inline-block;
  /*background-color: green;*/
}


/*diviser le corps de page en deux sections*/
:host(#corps-de-page){
  /*font-size: 1em;*/
  display: grid;
  grid-template-columns: 2fr 0.8fr;
  /*font-size: 0.6rem;*/
  background-color: lightblue;
}

